$pageWidth320: 320px;
$pageWidth425: 425px;
$pageWidth768: 768px;
$pageWidth1024: 1024px;

$scrollBarWidth: 0.8rem;
$scrollBarBgColor: #d0d0d0;
$scrollBarHoverBgColor: #9a9a9a;

$backgroundColor: #141414;
$darkGrayColor: #222222;
$whiteColor: #e1e3e6;
$checkboxBorderColor: #adb5bd;

$headerHeight: 5rem;
$containerWidth: 110rem;

$paddingX: 1rem;
